@font-face {
  font-family: "Serifa";
  src: url('../fonts/Serifa-Bold.ttf');
}

$body-font: "Open Sans", "Helvetica", "Arial", sans-serif;
$body-color: #5D5D5D;

$white-background: #fff;
$blue: #006699;